* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}

/* body */

body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}


/* header */

header {
    background-color: black;
    padding: .5rem $gutter;
}


header h1 {
    color: $primaryColor;
    font-weight: $heavyWeight;
    font-size: 2.8rem;
    margin: 20px 0px 0px 0px;
}


header h2 {
    font-weight: $regularWeight;
    font-size: 1.4rem;
    margin: 0;
    display: none;
    color: lighten($primaryColor, 10%);
    display: block;
      
}

/* navigation */


nav {
    background-color: $primaryColor;
    margin-bottom: 0px;   
}

nav ul {
    margin: 0px; padding: 0px;
}

nav li {
    float: left;
    width: 25%;
    list-style-type: none;
    text-align: center;
    background-color: lighten($primaryColor, 20%);
    border-left: 2px solid $primaryColor;
    
}

nav li.active { 
    background-color: lighten($primaryColor, 40%);
    
}

nav a {
    font-size: 1rem;
    display: block;
    padding: .8rem 0;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav a.active {
    font-weight: $heavyWeight;
    color: darken($primaryColor, 25%);
}

nav a:hover {
    background-color: black;

}

/* main */
main {
    background-color: rgb(238, 237, 237);
    margin-bottom: 0%;

}

main h1 {
    color: darken($primaryColor, 25%);
    padding: 1rem 0 0 2%;
    margin: 0px;
}



section.members div {
    padding: 0 2% 2% 2%;
  
}

section.members div img{
    float: right;
    clip-path: circle(100% at 100% 0%);
    shape-outside: circle(100% at 100% 0%);
}

section.members div p{
    font-size: .9rem;
}

section.members div h2{
    color: $primaryColor;
    margin-bottom: 5px;
}

.image-wrapper div {
    width: 100%;
    height: 0;
    padding-bottom: 60%; /* You define this doing image height / width * 100% */
    position: relative;
}

 div.image-wrapper div img{
    width: 100%;
    height: auto;
    position: absolute;

}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


footer {
    background-color: black;
    text-align: center;
    padding: 1rem $gutter; 
    color: white;
}

